<div class="container">
  <div class="row">
    <div class="col">
      <div class="list-artists-index">
        <div class="collective-name d-none d-sm-block"><h1>Dame Jeanne</h1></div>
          <ul>
            <% @artists_alpha.each do |artist| %>
              <div class="list-group d-none d-sm-block">
                <div id="artists-name">
                  <%= link_to artist_path(artist) do %>
                    <h5><%= "#{artist.first_name} #{artist.last_name}" %></h5>
                  <% end %>
                </div>
              </div>
            <% end %>
          </ul>
      </div>
    </div>
  </div>



  <div class="row">
    <% @artists.each do |artist| %>
      <div class="col-md-6 col-lg-3">
        <div id="carouselExampleSlidesOnly" data-interval="3000" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://res.cloudinary.com/sybillecrd/image/upload/v1540279457/Dame%20Jeanne/bordeaux_1g_petit.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://res.cloudinary.com/sybillecrd/image/upload/v1540279457/Dame%20Jeanne/bordeaux_1d_petit.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://res.cloudinary.com/sybillecrd/image/upload/v1540279456/Dame%20Jeanne/pin-up-francaise-belle-vie-petit.jpg" alt="Third slide">
            </div>
            <div class="carousel-content list-group">
              <%= link_to artist_path(artist) do %>
                <p><%= "#{artist.first_name} #{artist.last_name}" %></p>
              <% end %>
              <div class="carousel-content-project">
                <% if artist.projects.present? %>
                  <p><%= artist.projects.first.name %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


</div>
