<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="list-artists-index d-none d-sm-block">
        <div class="collective-name"><h1>Dame Jeanne</h1></div>
          <ul>
            <% @artists_alpha.each do |artist| %>
              <div class="list-group">
                <div id="artists-name">
                  <%= link_to artist_path(artist) do %>
                    <h5><%= "#{artist.first_name} #{artist.last_name}" %></h5>
                  <% end %>
                </div>
              </div>
            <% end %>
          </ul>
      </div>
    </div>
  </div>



  <div class="row">

    <% @projects.each do |project| %>
      <% if project.posters.count > 0 %>
        <div class="col-md-6 col-lg-4">
          <div id="carouselExampleSlidesOnly" data-interval="3000" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= cl_image_tag project.posters.first.picture, class: "d-block w-100" %>
                </div>
                <% if project.posters.second.present? %>
                  <div class="carousel-item">
                    <%= cl_image_tag project.posters.second.picture, class: "d-block w-100" %>
                  </div>
                <% end %>
                <% if project.posters.third.present? %>
                <div class="carousel-item">
                  <%= cl_image_tag project.posters.third.picture, class: "d-block w-100" %>
                </div>
                <% end %>

              <div class="carousel-content list-group">
                <div class="carousel-content-artist">
                  <%= link_to artist_path(project.artist) do %>
                    <%= "#{project.artist.first_name} #{project.artist.last_name}" %>
                  <% end %>
                </div>
                <div class="carousel-content-project">
                  <%= project.name %>
                </div>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>


</div>
