<div class="artist-info-show">
  <h1><%= @artist.first_name %> <%= @artist.last_name %></h1>
  <h5><%= @artist.job %></h5>
  <br>
  <p>Son projet</p>
  <% if @artist.projects.present? %>
    <%= @artist.projects.first.name %>
  <% end %>
  <br><br>

  <p>Son inspiration</p>
  <h5><%= @artist.speech %></h5>

  <p>Ses réseaux</p>
  <div class="about-social">
    <% if @artist.instagram.present? %>
      <%= link_to @artist.instagram, target: "_blank" do %>
        <i class="fab fa-instagram"></i>
      <% end %>
    <% end %>

    <% if @artist.linkedin.present? %>
      <%= link_to @artist.linkedin, target: "_blank" do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
    <% end %>
  </div>


</div>
