<div class="grid-container">
  <div class="row">
    <div class="col">

      <div class="artist-info-show">
        <h1><%= @artist.first_name %> <%= @artist.last_name %></h1>
        <h5><%= @artist.job %></h5>
        <br>
        <p>Son projet</p>
        <% if @artist.projects.present? %>
          <%= @artist.projects.first.name %>
        <% end %>
        <br><br>

        <p>Sa biographie</p>
        <div class="text-justify">
          <h6><%= @artist.speech %></h6>
        </div>
        <br><br>

        <% if @artist.blog2.present? %>
          <p>Ses liens</p>
            <%= link_to @artist.blog, target: "_blank", class: "link-show" do %>
              <%= @artist.blog %>
            <% end %>
            <br>
            <%= link_to @artist.blog2, target: "_blank", class: "link-show" do %>
              <%= @artist.blog2 %>
            <% end %>
        <% else @artist.blog.present? %>
          <p>Son lien</p>
          <%= link_to @artist.blog, target: "_blank", class: "link-show" do %>
            <%= @artist.blog %>
          <% end %>
        <% end %>
        <br><br>

        <p>Ses réseaux sociaux</p>
        <div class="social">
          <% if @artist.instagram.present? %>
            <%= link_to @artist.instagram, target: "_blank" do %>
              <i class="fab fa-instagram"></i>
            <% end %>
          <% end %>
          <% if @artist.linkedin.present? %>
            <%= link_to @artist.linkedin, target: "_blank" do %>
              <i class="fab fa-linkedin"></i>
            <% end %>
          <% end %>
          <% if @artist.behance.present? %>
            <%= link_to @artist.behance, target: "_blank" do %>
              <i class="fab fa-behance"></i>
            <% end %>
          <% end %>
          <% if @artist.facebook.present? %>
            <%= link_to @artist.facebook, target: "_blank" do %>
              <i class="fab fa-facebook"></i>
            <% end %>
          <% end %>
          <% if @artist.twitter.present? %>
            <%= link_to @artist.twitter, target: "_blank" do %>
              <i class="fab fa-twitter"></i>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <% @artist.projects.each do |project| %>
      <div class="show-posters">
        <% if project.posters.present? %>
        <div class="card show-poster">
          <%= cl_image_tag project.posters.first.picture, class: "d-block w-100" %>
        </div>
        <% end %>
        <% if project.posters.second.present? %>
          <div class="card show-poster">
            <%= cl_image_tag project.posters.second.picture, class: "d-block w-100" %>
          </div>
        <% end %>
        <% if project.posters.third.present? %>
        <div class="card show-poster">
          <%= cl_image_tag project.posters.third.picture, class: "d-block w-100" %>
        </div>
        <% end %>
      </div>
      <div class="d-none d-sm-block">
        <div class="overlay">
          <div class="overlay-inner">
            <button class="close">× Fermer</button>
            <img>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  const buttons = document.querySelectorAll('.show-poster');
  const overlay = document.querySelector('.overlay');
  const overlayImage = document.querySelector('.overlay-inner img');

  function open(e) {
    overlay.classList.add('open');
    const src= e.currentTarget.querySelector('img').src;
    overlayImage.src = src;
  }

  function close() {
    overlay.classList.remove('open');
  }

  buttons.forEach(button => button.addEventListener('click', open));
  overlay.addEventListener('click', close);
</script>
