<div class="container container-infos-artists">
  <div class="row">
    <div class="col">

      <div class="artist-info-show">
        <% if @artist.avatar.present? %>
          <%= cl_image_tag @artist.avatar, class: "avatar" %>
        <% else %>
          <%= image_tag('default-profile.jpg', class: "avatar") %>
        <% end %>
        <h1><%= @artist.first_name %> <%= @artist.last_name %></h1>

        <% if I18n.locale == :fr %>
          <h5><%= @artist.job %></h5>
        <% else %>
          <h5><%= @artist.job_en %></h5>
        <% end %>
        <br>

        <a class="btn btn-danger" data-toggle="collapse" href="#collapseBio" role="button">
          <%= t :bio %>
        </a>
        <a class="btn btn-danger" data-toggle="collapse" href="#collapseSite" role="button">
          Site Professionnel
        </a>
        <a class="btn btn-danger" data-toggle="collapse" href="#collapseSocials" role="button">
          Réseaux sociaux
        </a>
        <div class="collapse" id="collapseBio">
          <div class="card card-body card-body-collapse">
            <% if I18n.locale == :fr %>
              <h6><%= @artist.speech %></h6>
            <% else %>
              <h6><%= @artist.speech_en %></h6>
            <% end %>
            <h4>
              <a data-toggle="collapse" href="#collapseBio" role="button" class="cross-collapse">
                &times;
              </a>
            </h4>
          </div>
        </div>
        <div class="collapse" id="collapseSite">
          <div class="card card-body card-body-collapse text-justify">
            <%= link_to @artist.blog, target: "_blank", class: "link-show" do %>
              <%= @artist.blog %>
            <% end %>
            <br>
            <%= link_to @artist.blog2, target: "_blank", class: "link-show" do %>
              <%= @artist.blog2 %>
            <% end %>
            <h4>
              <a data-toggle="collapse" href="#collapseSite" role="button" class="cross-collapse">
                &times;
              </a>
            </h4>
          </div>
        </div>
        <div class="collapse" id="collapseSocials">
          <div class="card card-body card-body-collapse text-justify">
            <div class="social">
              <% if @artist.instagram.present? %>
                <%= link_to @artist.instagram, target: "_blank" do %>
                  <i class="fab fa-instagram"></i>
                <% end %>
              <% end %>
              <% if @artist.linkedin.present? %>
                <%= link_to @artist.linkedin, target: "_blank" do %>
                  <i class="fab fa-linkedin"></i>
                <% end %>
              <% end %>
              <% if @artist.behance.present? %>
                <%= link_to @artist.behance, target: "_blank" do %>
                  <i class="fab fa-behance"></i>
                <% end %>
              <% end %>
              <% if @artist.facebook.present? %>
                <%= link_to @artist.facebook, target: "_blank" do %>
                  <i class="fab fa-facebook"></i>
                <% end %>
              <% end %>
              <% if @artist.dribbble.present? %>
                <%= link_to @artist.dribbble, target: "_blank" do %>
                  <i class="fab fa-dribbble"></i>
                <% end %>
              <% end %>
              <% if @artist.tumblr.present? %>
                <%= link_to @artist.tumblr, target: "_blank" do %>
                  <i class="fab fa-tumblr"></i>
                <% end %>
              <% end %>
            </div>
            <h4>
              <a data-toggle="collapse" href="#collapseSocials" role="button" class="cross-collapse">
                &times;
              </a>
            </h4>
          </div>
        </div>
        <br><br><br>
        <% if @artist.projects.present? %>
          <h5><%= @artist.projects.first.name %></h5>
        <% end %>
        <br>
      </div>

    </div>
  </div>
</div>


<div class="grid-container">
  <div class="row">
    <% @artist.projects.each do |project| %>
      <div class="show-posters">
        <% if project.posters.present? %>
        <div class="card show-poster">
          <%= cl_image_tag project.posters.first.picture, class: "d-block w-100" %>
        </div>
        <% end %>
        <% if project.posters.second.present? %>
          <div class="card show-poster">
            <%= cl_image_tag project.posters.second.picture, class: "d-block w-100" %>
          </div>
        <% end %>
        <% if project.posters.third.present? %>
        <div class="card show-poster">
          <%= cl_image_tag project.posters.third.picture, class: "d-block w-100" %>
        </div>
        <% end %>
      </div>
      <div class="d-none d-sm-block">
        <div class="overlay">
          <div class="overlay-inner">
            <button class="close">× Fermer</button>
            <img>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  const buttons = document.querySelectorAll('.show-poster');
  const overlay = document.querySelector('.overlay');
  const overlayImage = document.querySelector('.overlay-inner img');

  function open(e) {
    overlay.classList.add('open');
    const src= e.currentTarget.querySelector('img').src;
    overlayImage.src = src;
  }

  function close() {
    overlay.classList.remove('open');
  }

  buttons.forEach(button => button.addEventListener('click', open));
  overlay.addEventListener('click', close);
</script>
