<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "BLEU-logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right d-none d-lg-flex">

    <!-- Links -->
    <a data-toggle="collapse" href="#artists-menu" role="button"><i class="fas fa-caret-down"></i>
      <%= t('navbar.artists') %>
    </a>
    <%= link_to t("navbar.collectif"), about_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t("navbar.eshop"), 'https://boutique.dame-jeanne-bordeaux.fr/', class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t('navbar.points-of-sale'), shops_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <!-- <%= link_to t('navbar.posts'), posts_path, class: "navbar-wagon-item navbar-wagon-link" %> -->
    <%= link_to "Contact", contact_path, class: "navbar-wagon-item navbar-wagon-link" %>


  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item d-flex d-lg-none">
    <div class="dropdown">
      <i class="fas fa-bars fa-2x dropdown" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <a data-toggle="collapse" href="#artists-menu" role="button">
            <%= t('navbar.artists') %>
          </a>
        </li>
        <li><a href="about"><%= t('navbar.collectif') %></a></li>
        <li><a href="https://boutique.dame-jeanne-bordeaux.fr/"><%= t('navbar.eshop') %></a></li>
        <li><a href="shops"><%= t('navbar.points-of-sale') %></a></li>
        <!-- <li><a href="posts"><%= t('navbar.posts') %></a></li> -->
        <li><a href="contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
