<div class="banner banner-shops" style="background-image: linear-gradient(180deg, rgba(44, 41, 58, 0.54) 0%, rgba(44, 41, 58, 0.28) 100%), url('https://res.cloudinary.com/sybillecrd/image/upload/v1549630638/Dame%20Jeanne/diner-gauche-hommes-avec-matieres.jpg');">
  <h1 class="shops-title"><%= t('posts.title') %></h1>
</div>

<div class="container">
  <% @posts.each do |post| %>
  <div class="card post-card-index">
    <div class="post-photo-index">
      <%= image_tag(url_for(post.photo))%>
    </div>
    <div class="post-title-index">
      <%= post.title %>
    </div>
    <div class="post-content-index">
      <%= post.content.first(400) %> (...)
      <%= link_to "Lire la suite", post_path(post), class: "button btn-danger" %>
    </div>
  </div>
  <% end %>

</div>
