<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dame Jeanne</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="collapse" id="artists-menu">
      <div class="menu">
        <div class="list-artists-index d-none d-sm-block">
          <ul>
            <% @artists_alpha.each do |artist| %>
              <div class="list-group">
                <div id="artists-name">
                  <%= link_to artist_path(artist) do %>
                    <h5><%= "#{artist.first_name} #{artist.last_name}" %></h5>
                  <% end %>
                </div>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :after_js %>
    <%= render 'shared/footer' %>
  </body>
</html>
